.body {
    width: 100%;
    background-color: blue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 25px;
    min-width: 350px;
    width: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 220px;
    height: 65px;
    background-color: white;
}

.heading {
    font-size: large;
    font-weight: bold;
    margin: 15px;
}

.subheading {
    font-size: inherit;
    margin: 10px;
    flex-wrap: wrap;
    width: 350px;
}

.celebSlider {
    width: 75%;
    min-width: 300px;
    height: 160px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-x: scroll;

}

.celebSlide {
    width: 110px;
    height: 110px;
    margin: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.celebCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 150px;
    width: 150px;
}

.phoneSlider {
    width: 75%;
    min-width: 300px;
    height: 360px;
    background-color: lightgray;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
    -ms-overflow-x: scroll;
}

.phoneSlide {
    width: 400px;
    height: 280px;
    margin: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-sizing: border-box;
}

.phoneCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 280px;
    width: 160px;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    height: 280px;
    width: 160px;
    opacity: 0.3;
    /*background-color: rgba(0, 0, 0, 0.8)*/;
}

.displayNone {
    display: none;
}
.displayOverlayText{
    display: flex;
    font-weight: bold;
    font-size: large;
    color: black;
    position: relative;
    top: 40%;
    left: 2%;
}
.displayOverlayTextForCeleb{
    display: flex;
    font-weight: bold;
    font-size: medium;
    color: black;
    position: relative;
    top: 30%;
    left: 2%;
}